---
import { getCollection } from 'astro:content';
import Head from '../../components/Head.astro';
import Footer from '../../components/Footer.astro';
import Header from '../../components/Header.astro';
import { SITE, NAV_LINKS } from '../../consts';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<Head title={SITE.title} description={SITE.description} />
	</head>
	<body>
		<Header />
		<main class="mx-auto flex max-w-3xl flex-col gap-4 px-4 py-4">
			{NAV_LINKS[1].label}

			<div class="flex flex-col gap-4">
				{posts.map((post) => (
				<article class="flex flex-col">
					<h2 class="text-xl font-bold">
						<a href={`/blog/${post.id}`} class="hover:underline">
							{post.data.title}
						</a>
					</h2>
					<p class="text-sm text-muted-foreground">
						{post.data.pubDate.toLocaleDateString('en-US', {
							year: 'numeric',
							month: 'long',
							day: 'numeric',
						})}
					</p>
					<p>{post.data.description}</p>
				</article>
			))}
			</div>
		</main>
		<Footer />
	</body>
</html>